body {
  font-family: "Montserrat", sans-serif;
  background-image: url(/secondPage/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  width: 85%;
}

/* ----------------- */

.userName {
  margin-left: 50px;
}
.empName {
  margin-right: 50px;
}

.navbar {
  height: 80px;
}

/* ----------------- */

#Content {
  height: 500px;
  width: 1300px;
  margin-left: 124px;
  margin-top: 20px;
  position: fixed;
  background-color: white;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(35, 35, 35, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  font-size: large;
  color: white;
}

div {
  height: 80px;
  width: 160px;
  border: 1px solid;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}



.white-colour {
  color: transparent;
}

/* ----------------- */

#Footer {
  height: 50px;
  width: 1300px;
  margin-left: 124px;
  position: absolute;
  bottom: 47px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(35, 35, 35, 0.4); /* Black w/opacity/see-through */
}

.footer-line {
  position: absolute;
  bottom: 77px;
}

.pay-btn
{
    position: absolute;
    right: 125px;
    top: 5px;
    width: 150px;
}